.pt50{
    padding-top:50px;
}

.pt60{
    padding-top:60px;
}
.loading-img{
    background: url(../assets/loading-img.gif) no-repeat center;
    height: 1.4rem;
    width: 100%;
    position: absolute;
    top:0.5rem;
}
.mt60{
    margin-top: 60px;
}
.mint-indexlist-nav{
    overflow: auto;
    width: 0.8rem;
    
    .mint-indexlist-navitem{
        font-size:14px;
    }
}